.App {
  text-align: center;
}


.main-bg {
  height: 750px;
  background-image: url("../public/img/main-bg.jpg");
  background-repeat: no-repeat;
  display: flex;
}

img{
  width: 500px;

}


#a {
  height: 400px;
}

.start {
  transform: scale(0);
}

.end{
  transform: scale(1);
  transition: all 1s;
}